@import '../../style//variables.scss';

.project-img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    align-items: center;
    transition: $transition-project-img;
    gap: 70px;
    margin-bottom: 70px;

    & .project-img-section {
        cursor: pointer;

        & .project-img-content-img {
            width: auto;
            height: 70vh;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        & .project-img-content-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 5px;

            & .project-img-content-title {
                font-size: 60px;
                margin: 0px;
                transition: $transition-project-img;
            }

            & .project-img-content-description {
                transition: $transition-project-img;
                font-weight: 300;
            }
        }

        &:hover {
            opacity: 0.8;

            .project-img-content-title {
                transform: $transform-text-left;
            }

            .project-img-content-description {
                transform: $transform-text-right;
            }
        }
    }
}

// @media (max-width:1024px) {
//     .project {
//         width: 80%;
//         padding: 45px 70px;

//         .project-title {
//             font-size: 31px;
//             margin: 0px;
//             font-weight: 400;
//             transition: all 0.4s;
//         }
//     }
// }

// @media (max-width: 430px) {
//     .project {
//         display: none;

//     }

//     .mob-project {
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         // align-items: center;
//         width: 90%;
//         height: auto;
//         margin-top: 30px;
//         // gap: 15px;

//         & .mob-project-img {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }

//         & .mob-project-content {
//             display: flex;
//             flex-direction: column;
//             justify-content: start;
//             align-items: start;
//             margin: 15px 0;

//             & .mob-project-title {
//                 font-weight: 400;
//                 font-size: 27px;
//             }

//             & .mob-project-description {
//                 font-weight: 400;
//                 font-size: 16px;
//             }

//             & .stripe {
//                 display: block;
//                 width: 100%;
//                 margin: 10px 0;
//                 height: 1px;
//                 background-color: rgba(28, 29, 32, 0.175)
//             }
//         }
//     }
// }