@import '../../style/variables.scss';

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .projects-body {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .modalContainer {
        height: 350px;
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: #fff;
        pointer-events: none;
        overflow: hidden;
        z-index: 3;
    }

    .modalSlider {
        height: 100%;
        width: 100%;
        position: relative;
        transition: top $transition-project;
    }

    .modal {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal img {
        height: auto;
    }

    .cursor,
    .cursorLabel {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $round-bg-color;
        color: #fff;
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 300;
        pointer-events: none;
    }

    .cursorLabel {
        background-color: transparent;
    }


}

@media(max-width:430px) {
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 170px;
        width: auto;
        flex-direction: column;
        z-index: 2;

        .projects-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 100px;
        }

        .modalContainer {
            height: 350px;
            width: 400px;
            position: fixed;
            top: 50%;
            left: 50%;
            background-color: #fff;
            pointer-events: none;
            overflow: hidden;
            z-index: 3;
        }

        .modalSlider {
            height: 100%;
            width: 100%;
            position: relative;
            transition: top $transition-project;
        }

        .modal {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modal img {
            height: auto;
        }

        .cursor,
        .cursorLabel {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $round-bg-color;
            color: #fff;
            position: fixed;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 300;
            pointer-events: none;
        }

        .cursorLabel {
            background-color: transparent;
        }


    }
}