@import '../../../../style/variables.scss';

.about-header-section {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .glob-animation-content {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 100px 0;

        & .stripe {
            display: block;
            width: 100%;
            height: 1px;
            background-color: $strip-color;
        }

        & .digital-ball {
            width: clamp(9em, 12vw, 11em);
            height: clamp(9em, 12vw, 11em);
            background: $strip-color;
            border-radius: 50%;
            top: 70%;
            right: 25%;
            transform: translate(-50%, -50%);
            position: absolute;
            overflow: hidden;
            background: #455CE9;

            & .globe {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & .icon-glob {
                    width: 100%;
                    height: 100%;
                    fill: white;
                }
            }
        }
    }
}

@media(max-width:2040px) {
    .about-header-section {

        & .glob-animation-content {
            width: 70%;

            & .digital-ball {
                top: 72%;
                right: 250px;
            }
        }
    }
}

@media(max-width:1024px) {
    .about-header-section {

        & .glob-animation-content {
            width: 70%;

            & .digital-ball {
                right: 150px;
            }
        }
    }
}

@media(max-width:800px) {
    .about-header-section {

        & .about-header-title-content {
            width: 90%;
        }

        & .glob-animation-content {
            width: 90%;

            & .digital-ball {
                border-radius: 50%;
                top: 85%;
                right: 5%;
            }
        }
    }
}