.main {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    & .user-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & .slider-container {
        position: absolute;
        margin-bottom: auto;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        & .slider {
            position: relative;
            white-space: nowrap;
        }

        & .slider .main-slider-text {
            position: relative;
            margin: 0px;
            color: white;
            font-size: 230px;
            font-weight: 500;
            padding-right: 50px;
        }

        .slider .main-slider-text:nth-of-type(2) {
            position: absolute;
            left: 100%;
            top: 0;
        }


    }

    .description {
        position: absolute;
        top: 35%;
        left: 65%;
        color: white;

        margin-bottom: 10px;

        & .user-status {
            margin: 0px;
            font-size: 24px;
            font-weight: 300;

        }

        & .user {
            margin: 0px;
            font-size: 36px;
            font-weight: 600;

        }

        & svg {
            transform: scale(2);
            margin-bottom: 100px;
        }
    }
}

@media (max-width:1024px) {
    .main {

        & .slider-container {

            & .slider .main-slider-text {
                font-size: 180px;
            }

        }

        .description {

            & .user-status {
                margin: 0px;
                font-size: 24.8px;
            }

            & .user {
                margin: 0px;
                font-size: 24.8px;
            }

            & svg {
                transform: scale(2);
                margin-bottom: 70px;
            }
        }
    }
}


@media(max-width:430px) {

    .main {

        height: 100vh;

        .description {

            top: 52%;
            left: 0;

            margin: 0px 15px;

            & .user-status {
                margin: 5px 0;
                font-size: 21.5px;
            }

            & .user {
                margin: 0px;
                font-size: 24.5px;
                font-weight: 400;
            }

            & svg {
                transform: scale(2);
                margin-bottom: 5px;
            }
        }
    }
}