@import '../../../../../style/variables.scss';

.next-case-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    width: 100%;

    & .next-case-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & .next-case-header-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;

            & h4 {
                font-size: 24px;
            }

            & h1 {
                font-size: 121px;
            }
        }

        & .next-case-image {

            width: 40%;
            cursor: pointer;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        .stripe {
            border-bottom: 3px solid rgb(134, 134, 134);
            width: 50%;
            margin: auto;
        }
    }

    & .cursor,
    .cursorLabel {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: $round-bg-color;
        color: #fff;
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 21px;
        font-weight: 300;
        pointer-events: none;
    }

    .cursorLabel {
        background-color: transparent;
        cursor: pointer;
    }

    & .back-all-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & a {
            text-decoration: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            & .btn-back {
                color: white;
                padding: 25px 30px;

                & .btn-back-text {
                    color: #fff;
                    z-index: 3;
                }
            }
        }
    }
}

@media(max-width:2060px) {
    .next-case-container {
        height: 90vh;

        & .next-case-section {

            & .next-case-header-section {

                & h4 {
                    font-size: 16px;
                }

                & h1 {
                    font-size: 81px;
                }
            }

            & .next-case-image {
                width: 35%;
            }

            .stripe {
                width: 45%;
            }
        }

        & .cursor,
        .cursorLabel {
            font-size: 16px;
        }

        & .back-all-link {

            & a {

                & .btn-back {
                    padding: 15px 25px;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .next-case-container {
        justify-content: space-around;
        height: 80vh;

        & .next-case-section {

            & .next-case-image {
                width: 35%;
            }

            .stripe {
                width: 45%;
            }
        }
    }
}

@media(max-width:430px) {
    .next-case-container {
        justify-content: space-evenly;

        & .next-case-section {

            & .next-case-header-section {

                & h4 {
                    font-size: 18px;
                }

                & h1 {
                    font-size: 64px;
                }
            }

            & .next-case-image {
                width: 80%;
            }

            .stripe {
                width: 85%;
            }
        }

        & .cursor,
        .cursorLabel {
            width: 80px;
            height: 80px;
        }

        & .back-all-link {

            & a {

                & .btn-back {

                    & .btn-back-text {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}