.about-header-title-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    & .about-header-title {
        padding-top: 250px;
        font-size: 86.5px;
        height: 100%;
        text-align: start;
    }
}

.about-header-title-content.widthAboutSectionClass {
    width: 50%;
}

.about-header-title-content.widthWorkSectionClass {
    width: 70%;
}

@media(max-width:2060px) {
    .about-header-title-content {

        & .about-header-title {
            padding-top: 250px;
            font-size: 62.5px;
            height: 100%;
            text-align: start;
        }
    }

    .about-header-title-content.widthAboutSectionClass {
        width: 70%;
    }
}

@media(max-width:800px) {
    .about-header-title-content.widthAboutSectionClass {
        width: 90%;
    }

    .about-header-title-content.widthWorkSectionClass {
        width: 90%;
    }
}