.about-header-title-content {
    width: 70%;


    & .about-header-title {
        padding-top: 250px;
        font-size: 62.5px;
        height: 100%;
        font-weight: 400;
        text-align: start;
    }
}

@media(max-width:800px) {
    .about-header-title-content {
        width: 90%;
    }
}