.about-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

    & .about-description-content {
        width: 70%;
        display: grid;
        grid-template-columns: 150px 450px auto;
        gap: 50px;

        & .about-description-section {
            display: flex;
            flex-direction: column;
            font-size: 26px;

            & .about-description-section-text {
                width: auto;
                margin-right: 15px;
            }

            & .about-description-section-span-text {
                opacity: 0.5;
                padding-top: 10px;
            }
        }

        & .about-description-img-content {
            width: auto;
            background: url('../../../../assets/img/openart-image_y2laZRc7_1727342417409_raw.jpg') center center no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 105vh;
        }

    }
}

@media(max-width:2040px) {
    .about-description {

        & .about-description-content {
            width: 80%;
            grid-template-columns: 50px 300px auto;

            & .about-description-section {
                font-size: 18.5px;
            }
        }
    }
}

@media(max-width:1024px) {
    .about-description {

        & .about-description-content {
            grid-template-columns: 30px 300px 470px;
            gap: 15px;
        }
    }
}

@media(max-width:800px) {
    @media(max-width:1024px) {
        .about-description {

            & .about-description-content {
                grid-template-columns: auto;
                gap: 15px;
            }
        }
    }
}