.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    .project-title {
        font-size: 60px;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
    }

    .project-description {
        transition: all 0.4s;
        font-weight: 300;
    }

    &:last-of-type {
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover {
        opacity: 0.5;

        .project-title {
            transform: translateX(-15px);
        }

        .project-description {
            transform: translateX(15px);
        }
    }
}

a {
    text-decoration: none !important;
    color: black !important;
}

@media (max-width:1024px) {
    .project {
        width: 80%;
        padding: 45px 70px;

        .project-title {
            font-size: 31px;
            margin: 0px;
            font-weight: 400;
            transition: all 0.4s;
        }
    }
}

@media (max-width: 430px) {
    .project {
        display: none;

    }

    .mob-project {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // align-items: center;
        width: 90%;
        height: auto;
        margin-top: 30px;
        // gap: 15px;

        & .mob-project-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        & .mob-project-content {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            margin: 15px 0;

            & .mob-project-title {
                font-weight: 400;
                font-size: 27px;
            }

            & .mob-project-description {
                font-weight: 400;
                font-size: 16px;
            }

            & .stripe {
                display: block;
                width: 100%;
                margin: 10px 0;
                height: 1px;
                background-color: rgba(28, 29, 32, 0.175)
            }
        }
    }
}