.mySwiper {
    height: 90vh;
    width: 90%;
    margin: 50px 0 200px 0;

    & .swiper-slide {
        position: relative;
    }

    & .slider-content {
        position: relative;
        width: 100%;
        height: 100%;

        & .important-img-content {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            & .important-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .secondary-img-content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            & .secondary-img {
                width: 30%;
                object-fit: contain;
                padding: 0 0 25px 15px;
                object-position: right bottom;
            }
        }
    }
}

@media(max-width:2060px) {
    .mySwiper {

        & .slider-content {

            & .important-img-content {

                & .important-img {
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .mySwiper {
        height: 90vh;
        margin: 50px 0 150px 0;

        & .slider-content {

            & .secondary-img-content {
                width: auto;
                height: 93%;

                & .secondary-img {
                    width: 35%;
                    padding: 0 0 5px 5px;
                    object-position: right bottom;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .mySwiper {
        height: 75vh;
    }
}

@media (max-width: 430px) {

    .swiper,
    .swiper-initialized,
    .swiper-horizontal,
    .swiper-backface-hidden,
    .swiper-wrapper,
    .mySwiper,
    .mySwiper,
    .mySwiper .swiper-slide,
    .mySwiper .slider-content,
    .swiper-wrapper,
    .mySwiper .important-img-content,
    .mySwiper .secondary-img-content {
        display: none;
    }
}