@import '../../style/variables.scss';

.description-content {
    padding: 0;
    margin-top: 200px;
    display: flex;
    justify-content: center;

    .description-body {
        width: 60%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        .description-section {
            margin: 0px;

            &:nth-of-type(1) {
                font-size: 43px;
                gap: 8px;
                line-height: 1.3;

                span {
                    margin-right: 3px;
                }

                .mask {
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }


            }


        }

        & .description-secondary-text {
            margin: 20px 0 0 20px;
            font-size: 21px;
            width: 100%;
            font-weight: 300;
        }

        .button {
            top: 80%;
            left: calc(100% - 200px);
            width: 220px;
            height: 220px;
            background-color: $secondary-black;
            color: white !important;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .description-btn-text {
                margin: 0px;
                font-size: 21px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }

}

@media(max-width:2040px) {
    .description-content {

        .description-body {
            width: 80%;

            & .description-secondary-text {
                font-size: 18px;
                width: 100%;
                font-weight: 300;
            }

            .button {

                width: 180px;
                height: 180px;

                .description-btn-text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .description-content {
        margin-top: 150px;

        .description-body {

            .description-section {

                &:nth-of-type(1) {
                    font-size: 25px;
                }
            }

            & .description-secondary-text {
                font-size: 18px;
                margin: 5px 0 0 5px;
            }

            .button {
                top: 110%;
                width: 140px;
                height: 140px;

                .description-btn-text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .description-content {
        padding: 0;
        margin-top: 70px;

        .description-body {
            flex-direction: column;
            width: 90%;

            .description-section {
                &:nth-of-type(1) {
                    font-size: 24.5px;
                }
            }

            & .description-secondary-text {
                font-size: 16px;
                margin: 20px 0 0 0;
            }
        }
    }
}

@media (max-width:430px) {
    .description-content {
        margin-top: 50px;

        .description-body {
            flex-direction: column;

            .description-section {
                margin: 0px;

                &:nth-of-type(1) {
                    font-size: 21px;
                    gap: 8px;
                }
            }

            .button {
                left: calc(100% - 150px);
            }
        }
    }
}