$alert-text-color: rgb(95, 33, 32);
$alert-bg-color: rgb(253, 237, 237);
$round-bg-color: #455CE9;
$secondary-black: #1C1D20;
$border-project-indentation: 1px solid rgb(201, 201, 201);
$strip-color: rgba(28, 29, 32, 0.175);
$rounded-button: 1px solid rgb(136, 136, 136);
$transition-bg: 0.4s linear;
$transition-project: 0.5s cubic-bezier(0.76, 0, 0.24, 1);
$transition-project-img: all 0.4s;
$transform-text-left: translateX(-15px);
$transform-text-right: translateX(15px);
$transition-nav: 0.5s cubic-bezier(0.76, 0, 0.24, 1);
// $hamburger-bg-color: rgba(41, 41, 41, );
$hamburger-navigation-color:rgb(153, 153, 153);