.hamburger-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 30px;

    a {
        text-decoration: none !important;
        color: #fff !important;
        font-weight: 300;
        margin: 10px 0;
    }
}

@media(max-width:2040px) {
    .hamburger-footer {
        font-size: 14px;
    }
}

@media(max-width:430px) {
    .hamburger-footer {
        font-size: 12px;
    }
}