.select-language {
    padding: 0;
    width: auto;

    & .select {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 105px;

        & .lng-text {
            padding: 0;
            margin: 0;
        }
    }
    
    .custom-select__control {
        cursor: pointer;
    }

    .custom-select__indicator {
        cursor: pointer;
    }
}