.work {
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);

    & .render-component {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}