@import '../../../../../../style/variables.scss';

.filter-btn-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 100%;

    & .filter-btn {
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0px 35px;
        color: $secondary-black;

        & .filter-btn-text {
            transition: color $transition-bg;
            margin: 15px 0;
            font-size: 34px;
            // font-weight: 400;
            position: relative;
            z-index: 1;
        }
    }

    .filter-btn.active {
        background-color: $secondary-black;
    }

    .filter-btn.active .filter-btn-text {
        color: #fff;
    }

    & :hover {
        color: #fff;
    }

    & .filter-btn.all-btn {
        border-radius: 50%;
        padding: 30px;

        & .filter-btn-text.all-text-btn {
            margin: 0px;
            font-size: 34px;
            position: relative;
            z-index: 1;
        }
    }
}

@media(max-width:2060px) {
    .filter-btn-section {

        & .filter-btn {

            & .filter-btn-text {
                font-size: 21px;
            }
        }

        & .filter-btn.all-btn {
            padding: 25px;

            & .filter-btn-text.all-text-btn {
                font-size: 21px;
            }
        }
    }
}

@media(max-width:800px) {
    .filter-btn-section {
        width: 100%;

        & .filter-btn {
            padding: 0px 30px;
            color: $secondary-black;
        }

        & .filter-btn.all-btn {
            padding: auto;
        }
    }
}